@font-face {
    font-family: 'Cabin Condensed';
    src: url('./../fonts/cabin/CabinCondensed-Regular.woff2') format('woff2'),
        url('./../fonts/cabin/CabinCondensed-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Cabin Condensed';
    src: url('./../fonts/cabin/CabinCondensed-Italic.woff2') format('woff2'),
        url('./../fonts/cabin/CabinCondensed-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Cabin Condensed';
    src: url('./../fonts/cabin/CabinCondensed-SemiBoldItalic.woff2') format('woff2'),
        url('./../fonts/cabin/CabinCondensed-SemiBoldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Cabin Condensed';
    src: url('./../fonts/cabin/CabinCondensed-Medium.woff2') format('woff2'),
        url('./../fonts/cabin/CabinCondensed-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Cabin Condensed';
    src: url('./../fonts/cabin/CabinCondensed-BoldItalic.woff2') format('woff2'),
        url('./../fonts/cabin/CabinCondensed-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Cabin Condensed';
    src: url('./../fonts/cabin/CabinCondensed-MediumItalic.woff2') format('woff2'),
        url('./../fonts/cabin/CabinCondensed-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Cabin Condensed';
    src: url('./../fonts/cabin/CabinCondensed-Bold.woff2') format('woff2'),
        url('./../fonts/cabin/CabinCondensed-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Cabin SemiCondensed';
    src: url('./../fonts/cabin/CabinSemiCondensed-SemiBoldItalic.woff2') format('woff2'),
        url('./../fonts/cabin/CabinSemiCondensed-SemiBoldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Cabin';
    src: url('./../fonts/cabin/Cabin-BoldItalic.woff2') format('woff2'),
        url('./../fonts/cabin/Cabin-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Cabin SemiCondensed';
    src: url('./../fonts/cabin/CabinSemiCondensed-SemiBold.woff2') format('woff2'),
        url('./../fonts/cabin/CabinSemiCondensed-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Cabin SemiCondensed';
    src: url('./../fonts/cabin/CabinSemiCondensed-Regular.woff2') format('woff2'),
        url('./../fonts/cabin/CabinSemiCondensed-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Cabin SemiCondensed';
    src: url('./../fonts/cabin/CabinSemiCondensed-Italic.woff2') format('woff2'),
        url('./../fonts/cabin/CabinSemiCondensed-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Cabin Condensed';
    src: url('./../fonts/cabin/CabinCondensed-SemiBold.woff2') format('woff2'),
        url('./../fonts/cabin/CabinCondensed-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Cabin';
    src: url('./../fonts/cabin/Cabin-Bold.woff2') format('woff2'),
        url('./../fonts/cabin/Cabin-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Cabin SemiCondensed';
    src: url('./../fonts/cabin/CabinSemiCondensed-Bold.woff2') format('woff2'),
        url('./../fonts/cabin/CabinSemiCondensed-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Cabin SemiCondensed';
    src: url('./../fonts/cabin/CabinSemiCondensed-Medium.woff2') format('woff2'),
        url('./../fonts/cabin/CabinSemiCondensed-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Cabin';
    src: url('./../fonts/cabin/Cabin-Italic.woff2') format('woff2'),
        url('./../fonts/cabin/Cabin-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Cabin SemiCondensed';
    src: url('./../fonts/cabin/CabinSemiCondensed-MediumItalic.woff2') format('woff2'),
        url('./../fonts/cabin/CabinSemiCondensed-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Cabin SemiCondensed';
    src: url('./../fonts/cabin/CabinSemiCondensed-BoldItalic.woff2') format('woff2'),
        url('./../fonts/cabin/CabinSemiCondensed-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Cabin';
    src: url('./../fonts/cabin/Cabin-Medium.woff2') format('woff2'),
        url('./../fonts/cabin/Cabin-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Cabin';
    src: url('./../fonts/cabin/Cabin-SemiBoldItalic.woff2') format('woff2'),
        url('./../fonts/cabin/Cabin-SemiBoldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Cabin';
    src: url('./../fonts/cabin/Cabin-SemiBold.woff2') format('woff2'),
        url('./../fonts/cabin/Cabin-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Cabin';
    src: url('./../fonts/cabin/Cabin-Regular.woff2') format('woff2'),
        url('./../fonts/cabin/Cabin-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Cabin';
    src: url('./../fonts/cabin/Cabin-MediumItalic.woff2') format('woff2'),
        url('./../fonts/cabin/Cabin-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}



@import "su";
@import 'pr';
@import 'pa'
